* {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #273043;
    background-position: center;
    margin: 2vh;
}

.randomImage {
    z-index: -2;
    position: absolute;
    max-width: 50px;
    max-height: 50px;
}

button:hover, input[type=submit]:hover {
    background-color: white;
    border: 2px solid #273043;
    color: #273043;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../resources/straight-post-it.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 5%;
    gap: 5%;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

#logo {
    width: 30%;
}

fieldset {
    background: rgba(39, 48, 67, 0.9);
    color: white;
    border: 2px solid #BEEE62;
    width: 100%;
    /* flex-direction: column; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type=date] {
    box-sizing: border-box;
    width: 90%;
}

h2 {
    text-align: center;
    width: 100%;
    font-size: calc(1rem + 1vw + 1vh);
    margin: 20px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

input {
    width: 100%;
    padding: 5%;
    border-radius: 2rem;
}

input[type=text] {
    margin: 20px;
}

input[type=submit] {
    margin: 20px;
    width: 100%;
    height: auto;
    padding: 7%;
    background-color: #273043;
    color: #BEEE22;
    border-radius: 5rem;
}

button {
    padding: 10px 10px;
    background-color: #273043;
    color: #BEEE22;
    border-radius: 5rem;
    width: 80%;
}

label {
    color: white;
    background-color: rgba(39, 48, 67, 0.9);
    border-radius: 6px;
    border: 2px solid white;
    padding: 2% 2%;
    margin: 10px;
    width: 60%;
    text-align: center;
}

@media only screen and (min-width: 769px){
    input {
        font-size: 2vw;
        margin: 20px;
    }
    #registrationBtn {
        height: fit-content;
        font-size: 1.5vw;
    }

    fieldset {
        background-color: transparent;
    }
}

@media only screen and (max-width: 768px) {
    #content {
        background-image: none;
        width: 100%;
    }

    form {
        width: 100%;
    }

    input, label {
        font-size: 4vw;
        margin: 20px;
    }

    input[type=submit] {
        height: 15%;
        font-size: 4vw;
        background-color: #BEEE22;
        color: black;
    }

    h2 {
        color: white;
        background-color: rgba(39, 48, 67, 0.9);
        border-radius: 6px;
        border: 2px solid white;
        padding: 2% 2%;
    }

    button {
        margin: 10px;
    }

    body {
        display: block; /* Otherwise when the screen is horizontal the title goes under the search bar. */
    }
}