* {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #273043;
    background-position: center;
    margin: 0;
}

.randomImage {
    z-index: -2;
    position: absolute;
    max-width: 50px;
    max-height: 50px;
}

button:hover, input[type=submit]:hover {
    background-color: white;
    border: 2px solid #273043;
    color: #273043;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../resources/straight-post-it.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 5%;
    gap: 5%;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

h2 {
    text-align: center;
    width: 100%;
    font-size: 60px;
}

#email, #password {
    width: 100%;
    padding: 5%;
    border-radius: 2rem;
}

input[type=text] {
    margin: 20px;
}

input[type=submit] {
    margin: 20px;
    width: 100%;
    height: auto;
    padding: 7%;
    background-color: #273043;
    color: #BEEE22;
    border-radius: 5rem;
}

button {
    padding: 10px 10px;
    background-color: #273043;
    color: #BEEE22;
    border-radius: 5rem;
}

@media screen and (min-width: 769px){
    input {
        font-size: 2vw;
    }
    #registrationBtn {
        height: fit-content;
        font-size: 1.5vw;
    }
}

@media screen and (max-width: 768px) {
    #content {
        width: 600px;
        height: 600px;
    }
    input {
        font-size: 4vw;
    }
    #registrationBtn {
        height: 15%;
        font-size: 4vw;
    }
}