body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #273043;
    margin: 0;
}
#backBtn {
    background-image: url(../resources/back_icon.svg);
    transform: scaleX(-1);
    background-size: contain;
    background-color: #273043;
    background-repeat: no-repeat;
    background-position: center;
    margin: 1%;
    width: 5vh;
    height: 5vh;
}
.chat-header {
    display: flex;
    align-items: center;
}
.chat-window {
    width: 100%;
    height: 100%;
    background-color: #C0D6DF;
    overflow-y: scroll;
    font-size: 22px;
}
#chat-title {
    display: flex;
    text-align: center;
    color: white;
}
.chat-bottom {
    display: flex;
    align-items: center;
    padding: 1%;
}

.message-input {
    width: 100%;
    font-size: 26px;
}

#sendButton {
    height: 35px;
    font-size: 26px;
}

@media screen and (min-width: 750px) {
    .chat-header img {
        margin-right: 1rem;
        width: 5%;
    }
    .chat-header h1 {
        font-size: 2vw;
    }
}
@media screen and (max-width: 750px) {
    .chat-header img {
        margin-right: 1rem;
        width: 11%;
    }
    .chat-header h1 {
        font-size: 5vw;
    }
    .message-input {
        height: 6vh;
    }
    #sendButton {
        height: 6vh;
    }
}