body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #273043;
    margin: 0;
}
#backBtn {
    background-image: url(../resources/back_icon.svg);
    transform: scaleX(-1);
    background-size: contain;
    background-color: #273043;
    background-repeat: no-repeat;
    background-position: center;
    margin: 1%;
    width: 7vh;
    height: 7vh;
}
.chat-header {
    display: flex;
    align-items: center;
}
.chat-window {
    width: 100%;
    height: 100%;
    background-color: #C0D6DF;
    overflow-y: scroll;
}
#chat-title {
    display: flex;
    text-align: center;
}
.chat-bottom {
    display: flex;
    align-items: center;
    padding: 1%;
}
.message-input {
    width: 100%;
}
@media screen and (min-width: 750px) {
    .chat-header img {
        margin-right: 1rem;
        width: 5%;
    }
    .chat-header h1 {
        font-size: 2vw;
    }
}
@media screen and (max-width: 750px) {
    .chat-header img {
        margin-right: 1rem;
        width: 11%;
    }
    .chat-header h1 {
        font-size: 5vw;
    }
}