html {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: #273043;
    background-size: contain;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh;
}

button {
    border: none;
    outline: none;
    background-size: contain;
    background-color: #273043;
    background-repeat: no-repeat;
    background-position: center;
    width: 5vh;
    height: 5vh;
}

button:hover {
    border: 1px solid white;
    outline: 1px solid white;
}

div.insertPost {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 3vw;
    gap: 2%; /* Separation between the div's elements. */
}

div.insertPost>p {
    color: white;
    margin: 1rem;
}

/* The "Create post" button. */
div.insertPost>button {
    border: 2px solid white;
    color: white;
    width: 20%;
    font-size: calc(1vh + 1vw);
    overflow: hidden;
    font-family: inherit;
}

div.insertPost>button:hover {
    border: 1px solid white;
    background-color: white;
    color: #273043;
}

#left-menu {
    display: inline-block;
}

#notificationBtn {
    background-image: url(../resources/ringbell.png);
}

#chatBtn {
    background-image: url(../resources/chat\ icon\ 2.png);
}

.comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

#mySidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

#mySidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#mySidenav a:hover {
    color: #f1f1f1;
}

#mySidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    background-image: url(../resources/menu\ icon\ 1.png);
}

.openbtn:hover {
    background-color: #444;
}

.postContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
