body {
    font-family: Arial, sans-serif;
    background-color: #273043;

}
#backBtn {
    background-image: url(../resources/back_icon.svg);
    transform: scaleX(-1);
    background-size: contain;
    background-color: #273043;
    background-repeat: no-repeat;
    background-position: center;
    width: 5vh;
    height: 5vh;
}
.groups-list {
    padding-inline-start: 0;
}
.groups {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #C0D6DF;
    margin: 2%;
}
.groupsImg {
    margin-right: 1rem;
    width: 10%;
}

#createGroupButton {
    width: 30%;
    height: 5vh;
    font-size: calc(1vh + 1vw);
    background-color: #273043;
    color: white;
    border: 2px solid white;
    overflow: hidden;
    margin: 2% 0;
}
