body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #273043;
    font-family: Arial, sans-serif;
    margin: 0;
}
.randomImage {
    z-index: -2;
    position: absolute;
    max-width: 50px;
    max-height: 50px;
}
.banner {
    text-align: center;
    font-size: 10vw;
    padding: 0 0 1% 0;
}
#backBtn {
    background-image: url(../resources/back_icon.svg);
    transform: scaleX(-1);
    background-size: contain;
    background-color: #273043;
    background-repeat: no-repeat;
    background-position: center;
    width: 7vh;
    height: 7vh;
}
.achievement {
    display: flex;
    align-items: center;
    width: 60%;
    background-color: #C0D6DF;
    margin: 1%;
}
.achievementImg {
    margin: 1rem;
    width: 20%;
}
.unlockedbanner{
    width: 100%;
    text-align: center;
    font-size: 5vw;
    background-color: #C0D6DF;
}
.lockedbanner {
    width: 100%;
    text-align: center;
    font-size: 5vw;
    background-color: #C0D6DF;
}