html {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#backBtn {
    background-image: url(../resources/back_icon.svg);
    transform: scaleX(-1);
    background-size: contain;
    background-color: #273043;
    background-repeat: no-repeat;
    background-position: center;
    width: 5vh;
    height: 5vh;
    margin: 0 0 2% 0;
    border: none;
}

#backBtn:hover {
    border: 1px solid white;
    outline: 1px solid white;
}

body {
    background-color: #273043;
    background-size: contain;
    color: white;
}

div.postHeader {
    display: flex;
    justify-content: center;
    gap: 5%;
    align-items: center;
    margin-top: 4%;
    margin-bottom: 4%;
}

div.postHeaderTextContainer {
    box-sizing: border-box;
    width: 45%;
}

.avatarContainer {
    position: relative;
    width: max-content;
}

.avatar {
    position: relative;
    z-index: 2;
    width: 15vh;
    height: 15vh;
    border: 2px solid white;
}

.avatarBackground {
    position: absolute;
    top: 2px;
    left: 0;
    z-index: 1;
    width: 15vh;
    height: 15vh;
    transform: scale(1.05);
    opacity: 1;
    filter: blur(24px);
}

.postDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.descriptionAndReactionsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

div.descriptionContainer {
    background-color: #c0d6df;
    width: 80%;
}

article.description {
    width: 100%;
}

.descriptionParagraph {
    color: black;
    text-align: center;
    margin: 16px;
    font-size: large;
}

.commentsSectionHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.commentsSectionHeader p {
    font-size: x-large;
    color: #BFD6DE;
}

.commentInputContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    margin: 20px 0px;
}

.commentInputContainer textarea {
    width: 90%;
    padding: calc(1vh + 1vw);
    color: white;
    border: 1px solid white;
    background-color: rgba(117, 221, 221, 0.3);
    border-radius: 40px; /* to see circular corners, set this to the height value */
    overflow: auto;
    resize: none;
    height: 1lh; /* 1lh = 1 line height */
}

.commentInputContainer textarea::placeholder {
    padding: 0 10px;
}

.commentInputContainer button {
    width: 5vh;
    height: 5vh;
    background-image: url("../resources/send.svg");
    background-size: contain;
    background-color: #273043;
    background-repeat: no-repeat;
    border: none;
    outline: none;
}

.commentInputContainer button:hover {
    border: 1px solid white;
    outline: 1px solid white;
}