html {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: #273043;
    background-size: contain;
}

#profile-head {
    text-align: center;
}

#personName {
    color: white;
}

#backBtn {
    background-image: url(../resources/back_icon.svg);
    transform: scaleX(-1);
    background-size: contain;
    background-color: #273043;
    background-repeat: no-repeat;
    background-position: center;
    width: 5vh;
    height: 5vh;
}

.postContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5%;
}

#modifyImg {
    margin-top: 1%;
}

#imageInput {
    display: none;
}

input[type="submit"] {
    margin: 1vh 0;
    display: none;
}

#labelContent {
    color: white;
    padding: 0;
    border: none;
    background: none;
    margin-top: 1%;
    text-align: center;
    display: list-item;
}

#imageProfile {
    width: 200px;
    height: 200px;
}